.heading {
  margin: 2rem 0;
  text-align: center;
}

.heading h2 {
  margin-bottom: 1rem;
}

.name {
  background: -webkit-linear-gradient(
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 54, 1) 35%,
    rgba(0, 212, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projectLink {
  color: black;
  text-decoration: none;
}

.linkDiv {
  width: 60vw;
  margin: 4rem auto;
}

.linkDiv img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  border-radius: 5px;
}
