.heading {
  margin: 2rem 0;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info {
  text-align: center;
}

.text {
  text-align: center;
  line-height: 1.5rem;
  padding: 0 20px;
  margin-top: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tags span {
  padding: 0.25rem;
  margin: 1rem;
  color: white;
  background-color: #34ebb1;
  border-radius: 10px;
  text-align: center;
}

.project {
  display: flex;
  justify-content: center;
}

.link,
.link:visited {
  font-size: 1.5rem;
  color: black;
  padding: 1rem;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .section {
    flex-direction: row;
    padding: 3rem 0;
  }

  .info {
    flex-direction: row;
    width: 30vw;
  }

  .text {
    width: 65vw;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
